{% extends "jobs/base.html" %}
{% block content %}
<div class="profes">
  <h3>Профессия: {{ profession }}</h3>
  <p>Записи:</p>
<p>
  <a href="{% url 'jobs:new_entry' profession.id %}">добавить новую запись</a>
</p>
  <ul>
    {% for entry in entries %}
      <li>
        <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
        <h3>{{ entry.text|linebreaks }}</h3>
        <p>
          <a href="{% url 'jobs:edit_entry' entry.id %}">Изменить запись</a>
        </p>
      </li>
    {% empty %}
      <li>
       <h3>По этой профессии пока записей нет.</h3>
      </li>
    {% endfor %}
  </ul>
  <style>
    a {text-decoration: none;}
  </style>
</div>
{% endblock content %}